@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500;600&family=Poppins:wght@300&family=Roboto&display=swap');

:root {
    --title-font: 'Open Sans';
    --text-font: 'Roboto';
    --text-destaque: 'Poppins';
    --primary-bg: #333333;
    --white-text: #fff;
}

