@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
    --fonte-padrao:'Lato', sans-serif;
    --font-subtitulo:'Grafite', sans-serif;
    --font-titulos:'Sherwood', sans-serif;
    --cor-primary:#BADDF2;
    --cor-secundary: #6aa4ac;
}

@font-face {
    font-family: 'Grafite';
    src: url(../fonts/Grafite.otf); format:('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Sherwood';
    src: url(../fonts/SHERWOOD.TTF); format:('truetype');
    font-weight: normal;
}

body {
    background-color: rgb(30, 30, 30);
}

.header-principal .banner{
    background-color: rgb(26, 26, 26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    box-shadow: 0px 1px 10px 0px white;
}

.header-principal .banner .logo img {
    border-radius: 50%;
}

.header-principal .banner h1 {
    color: white;
    font-family: var(--font-titulos);
    font-size: 55px;
    font-weight: 100;
}

.header-principal .banner i {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.header-principal .banner i:hover {
    color: lightgrey;
    transition: 250ms ease-in-out;
}

.navegacao-principal ul{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.navegacao-principal ul li {
    margin-right: 5px;
    font-family: var(--fonte-padrao);
}

.navegacao-principal ul li i {
    margin-right: 4px;
}

.navegacao-principal ul li  {
    position: relative;
    padding: 5px;
}

.navegacao-principal ul li a {
    text-decoration: none;
    color: white;
    padding: 8px;
    font-size: 25px;
}

.navegacao-principal ul li::after {
    content: '';
    display: block;
    position: absolute;
    width: 0%;
    height: 5px;
    left: 14px;
    border-bottom: 3px solid transparent;
    border-image: linear-gradient(160deg, white 30%,red 40%, blue) 1;
    border-image-slice: 1;
    border-radius: 10px;
}

.navegacao-principal ul li:hover::after {
    width: 80%;
    transition: .5s ease-in-out;
}

main {
    color: white;
    font-family: var(--fonte-padrao);
    margin-top: 35px;
}

main .titulo--2 {
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}

main .content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

main .content section {
    background-color: var(--cor-secundary);
    color: black;
    border-radius: 7px;
    box-shadow: inset 0px 0px 7px 0px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

main .content section .subtitle-section{
    font-variant: small-caps;
    text-align: center;
    padding: 10px 0;
}

main .content section p {
    padding: 0px 10px 20px 10px;
    font-variant: small-caps;
    font-size: 20px;
    font-weight: 700;
}

main .content section .itens {
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .content section .itens span{
    font-weight: 800;
    font-size: 20px;
}

main .content section .itens img{
    border-radius: 10px;
    object-fit: cover;
}

main .content section .itens .fa-ticket {
    font-size: 60px;
}

main .content section .div-do-botao {
    display: flex;
    align-items: center;
    justify-content: center;
}

main .content section .btn-agendar {
 padding: 0.8em 1.8em;
 margin-top: 20px;
 border: 2px solid rgb(27, 27, 27);
 border-radius: 7px;
 position: relative;
 overflow: hidden;
 background-color: transparent;
 text-align: center;
 text-transform: uppercase;
 font-size: 16px;
 transition: .3s;
 z-index: 1;
 cursor: pointer;
}

main .content section .btn-agendar::before {
    content: '';
    width: 0;
    height: 300%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background: rgb(83, 83, 83);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

main .content section .btn-agendar:hover::before {
    width: 105%;
}

main .content section .btn-agendar a{
    font-family: inherit;
    color:rgb(27, 27, 27);
    text-decoration: none;
    font-weight: 700;
}

main .content section .btn-agendar:hover a {
    color: white;
    transition: .3s;
}