@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor1:#e47a47;
    --cor2:#b75a4a;
    --cor3:#783716;
    --cor4:#150d08;
    
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--cor3);
}

header .logo img{
    border-radius: 7px;
}

header ul {
    display: flex;
    list-style: none;
}

header ul a {
    color: white;
    text-decoration: none;
    padding-right: 15px;
}

.icons-header {
    color: rgb(189, 187, 187);
}