.header-principal .banner{
    background-color: rgb(88, 0, 88);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
}

.header-principal .banner i {
    color: white;
    font-size: 25px;
}

.header-principal .banner i:hover {
    color: lightgrey;
    transition: 250ms ease-in-out;
}

.navegacao-principal ul{
    display: flex;
}

.navegacao-principal ul li {
    
}