@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 60%;
    height: 60%;
    margin: auto;
    background-color:#ebe5c5;    
}

nav{
    color: red;
}

.fundo{
    color: white;
    background-color: black;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: solid 2px rgba(255, 255, 255, 0.363);;
    border-radius: 20px;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.itens h1{
    margin-bottom: 15px;
    margin-top: -40px;
    font-size: 40px;
}

.itens h2{
    font-size: 20px;
    margin-top: -20px;
}

.itens h2::before{
    content: '▼';
}

.itens h2::after{
    content: '▼';
}

ul{
   list-style: none; 
   padding-top: 20px;
}

li{
    padding-bottom: 20px;
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    transition: 200ms ease;
}

a:hover{
    border: solid 3px white;
    padding: 2px;
    background-color: rgba(255, 255, 255, 0.151);
    border-radius: 8px;
}

.seta::before{
    content: '➥\00a0';
    margin-left: -24px;
}