@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: auto;
    background-color:#ebe5c5; 
}

.fundo{
    color: white;
    background-color: black;
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: solid 2px rgba(255, 255, 255, 0.363);;
    border-radius: 20px;
}

.itens{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding-top: 80px;
}

.itens h1{
    margin-bottom: 15px;
    margin-top: -40px;
    font-size: 40px;
    font-family: var(--font-bebas);
}

.itens h2{
    font-size: 20px;
    margin-top: -20px;
   
}

.itens h2::before{
    content: '▼';
}

.itens h2::after{
    content: '▼';
}

ul{
   list-style: none; 
   padding-top: 20px;
}

li{
    padding-bottom: 20px;
    font-size: 20px;
}

a{
    color: white;
    text-decoration: none;
    transition: 300ms ease;
}

a:hover{
    padding: 2px;
    text-decoration:underline;
}

.seta::before{
    content: '➥\00a0';
    margin-left: -24px;
}

i{
    padding-right: 10px;
}

.icons{
    margin-left: -30px;
}