* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

@font-face {
    font-family: 'Pokemon-one';
    src: url(../fonts/Pokemon\ Solid.ttf); format:('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'Pokemon-two';
    src: url(../fonts/Pokemon\ Hollow.ttf); format:('TrueType');
    font-weight: normal;
}

:root {
    --fontpoke1: Pokemon-one;
    --fontpoke2: Pokemon-two;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.right-logo,.left-logo {
    padding: 0px 30px;
}

header h1 {
    font-family: var(--fontpoke1);
    font-size: 40px;
    padding-right: 20px;
    text-shadow: 2px 1px 1px black;
    color: red;
    letter-spacing: 5px;
}

header a {
    text-decoration: none;
}

header .logo img {
    margin-top: 24px;
}

.card {
    background-color: rgb(49, 48, 48);
    color: white;
    width: 180px;
    height: 220px;
    text-align: center;
    border-radius: 8px;
    text-transform: uppercase;
    position: relative;
}

.card img {
    padding: 7px 0px;
}

.name {
    padding: 20px 17px 15px 17px;
    display: flex;
    text-align: center;
    gap: 20px;
}

.types {
    padding: 30px 24px 15px 24px;
    display: flex;
    text-align: center;
    gap: 20px;
}

.sect-one {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

/*.card:hover::before {
    content: '';
    color: red;
    position: absolute;
    left: 2px;
    top: 2px;
}*/
