@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&family=Poppins:ital@1&family=Roboto+Slab:wght@500&display=swap');

@font-face {
    font-family: 'android';
    src: url(../fontes/idroid.otf); format:('opentype');
    font-weight: normal;
}

@font-face {
    font-family: 'SoccerLeague';
    src: url(../fontes/SoccerLeague.ttf); format:('ttf');
    font-weight: bold;
}

:root{
--cor0:#ebe5c5;
--cor1:#a5befa;
--cor2:#55acc2;
--cor3:#c52f5f;
--cor4:#9c0837;
--cor5:#5e1d43;


--fonte-padrao: arial, verdana. helvetica, sans-serif;
--fonte-destaque: 'Bebas Neue', cursive;
--fonte-android: 'android', cursive;
--fonte-soccer:'SoccerLeague', cursive;
}

body{
background-color: #dde7ff;

}

.headernav{
    background-image:linear-gradient(45deg,#5e1d43 25%, #9c0837,transparent);
    border-top-left-radius: 35px;
    margin-right: 31px;
    margin-left: 31px;
    width: 1180px;
    margin: auto;
}

header{
    width: auto;
    margin: auto;
    padding: 20px 30px 40px 20px;
}

header h1{
    font-size: 50px;
    color: white;
    font-weight: bolder;
    text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.315);
    font-family: var(--fonte-soccer);
}

header span{
    color: var(--cor3);
    font-size: 65px;
    text-shadow: 3px 3px 0px 50px rgba(0, 0, 0, 0.315);
}

nav{
    width: auto;
    margin: -50px 31px 10px -21px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-size: 19px;
    border-radius: 15px;
}

nav a:hover{
    background-color: var(--cor3);
    border-radius: 10px;
    transition-duration: 300ms;
   font-weight: 500;
}

.content-1{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #5e1d43 25%, #9c0837, #c52f5f);
    width: 1140px;
    margin: auto;
    margin-top: 20px;
    padding: 40px 20px 20px 20px;
    border-radius: 15px;
}

.content-news{
    width: 300px;
    height: 300px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 20px 20px 20px;
    border-radius: 15px;
    box-shadow: 5px 7px 20px rgba(255, 253, 253, 0.301);
}

.content-news img{
    width: 250px;
    height: 185px;
    border-radius: 15px;
}

.news a{
    text-decoration: none;
}
    
.content-news a{
    color: white;
}

.content-news h2{
    padding: 10px 20px 20px 20px;
    font-family: var(--fonte-soccer);
    font-size: 25px;
}

#wwdc2023{
    width: 310px;
    height: 185px;
}

.content-news p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

.content-2{
    display: flex;
    justify-content: space-around;
    background-image: linear-gradient(45deg, #5e1d43 25%, #9c0837, #c52f5f);
    width: 1140px;
    margin: auto;
    margin-top: -30px;
    padding: 25px 20px 40px 20px;
    border-radius: 15px;
    transition-duration: 300ms;
}

.content-1 h2:hover{
    color: rgba(255, 255, 255, 0.767);
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 9px;
    padding: 10px 6px 10px 6px;
    transition-duration: 300ms;
}

.content-1 p:hover{
    color: rgba(255, 255, 255, 0.767);
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 9px;
    padding: 0px 6px 10px 6px;
    transition-duration: 300ms;
}

.content-2 h2:hover{
    color: rgba(255, 255, 255, 0.767);
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 9px;
    padding: 10px 6px 10px 6px;
    transition-duration: 300ms;
}

.content-2 p:hover{
   color: rgba(255, 255, 255, 0.767);
    text-decoration: underline;
    padding: 10px;
    margin-bottom: 9px;
    padding: 0px 6px 10px 6px;
    transition-duration: 300ms;
}

footer{
    background-image: linear-gradient(45deg, #5e1d43 25%, #9c0837, #c52f5f);
    color: white;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: 15px;
}

footer > p > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color: var(--cor1);
}